.browse {
    margin-top: 48px;
    margin-bottom: 96px;
    text-align: center;
}

.browse__button {
    color: $pink-color-button;
    border: 1px solid #FF6A6A;
    background-color: white;
    width: 211px;
    height: 47px;
}