.cart__product {
    display: flex;
    justify-content: space-evenly;
    margin-top: 96px;
    margin-bottom: 129px;


    @include tablet {
        flex-direction: column;
    }

    @include mobile {
        flex-direction: column;
        margin-bottom: 48px;
    }
}

.cart__product-list {
    list-style-type: none;

    @include mobile {
        width: 214px;
        min-height: 188px;
        margin: 0 0 0 0;
    }
}

.cart__product-heading {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    height: 58px;

    @include mobile {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 19px;
    }
}

.cart__product-text {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;

    @include mobile {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px;
    }
}

.cart__product {
    margin-top: 40px;
}

.cart__product-button {
    width: 235px;
    min-height: 50px;

    @include mobile {
        min-height: 32px;
        width: 174px;
    }
}

.cart__product-button-text {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 17px;
}

.cart__product-button-container {
    display: flex;
    margin-top: 73px;

    @include mobile {
        margin-top: 30px;

    }
}

.cart__product-button {
    background: $white-color;
}

.cart__img-container {
    display: flex;
}

.cart__product-img {
    @include mobile {
        height: 188px;
        width: 144px;

    }
}