.goods__list {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-between;
    padding: 48px 0 0;
    list-style-type: none;
    align-items: center;

    @include tablet {
        padding: 0 0 0 0;
    }

}

.goods__item {
    max-width: 360px;
    height: 581px;

    @include tablet {}

    @include mobile {
        width: 100%;
    }
}