.product__heading {
    height: 148px;
    background-color: $white-color;
}

.product__header {
    display: flex;
    justify-content: start;
    padding-top: 59px;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    color: $pink-dark-color;
}

.product__heading--wrapper {
    display: flex;
}

.product__path {
    display: flex;
    justify-content: end;
    align-items: center;
}

.product__path--home {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 17px;
    color: $black-color;
}

.product__path--men {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 17px;
    color: $black-color;
}

.product__path--Arrivals {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    color: $pink-dark-color;
}

.product__link {
    display: flex;
    justify-content: space-evenly;
}

.product__container {
    display: flex;
}